In [2]:
import numpy as np#จัดการตัวเลขarray
import pandas as pd
import yfinance
from matplotlib import pyplot as plt
import talib
import pandas_datareader as web
import datetime
from datetime import datetime
from datetime import timedelta

In [3]:
#filter code

In [4]:
#Ema

In [5]:
x=pd.read_csv('stock_prices_volumes.csv')#เลือกหุ้น
x=x.iloc[0:,1:]
x

       Name        rsi  Ema
0       7UP  87.205140  NaN
1      ACAP  85.756776  NaN
2       ACE  58.659762  NaN
3       ADD  61.129991  NaN
4       AHC  65.624428  NaN
..      ...        ...  ...
99      VNG  61.681213  NaN
100     WIN  67.562968  NaN
101  WINMED  61.386980  NaN
102  WINNER  75.744932  NaN
103     WPH  62.356704  NaN

[104 rows x 3 columns]

In [6]:
stock_ema=x.iloc[0,2] #first stock in ema
stock_ema

nan

In [7]:
#เทสEMA20

In [8]:
 number=x.shape[0]
 y=x.iloc[0,2]
y

nan

In [9]:
i=0
e=0
while e <number:
  y=x.iloc[i,0]
  end = datetime.today()
  duration= timedelta(days=365)
  start=end-duration
  s = web.DataReader(y+".BK", 'yahoo', start, end)
  close_array=s.iloc[0:,3:-2]
  close_array['EMA'] = talib.EMA(close_array['Close'], timeperiod =20)
  close_data = close_array.iloc[-1,0]
  ema_data0 =close_array.iloc[-1,1]
  stock_ema = ema_data0
  if close_data > ema_data0 :
   x.iloc[i,2]=stock_ema
   i+=1
   e+=1
  else  : 
   x = x.drop(e,axis=0)
   x.reset_index(drop=True) # Reset index
   e+=1
print("finish")

finish

In [10]:
#x.to_csv('EMA20.csv')
x

       Name        rsi        Ema
0       7UP  87.205140   2.208734
1      ACAP  85.756776   1.174774
2       ACE  58.659762   3.808256
4       AHC  65.624428  14.098030
5       AKP  67.176484   2.046808
..      ...        ...        ...
99      VNG  61.681213   7.331348
100     WIN  67.562968   0.721287
101  WINMED  61.386980   6.546572
102  WINNER  75.744932   3.156126
103     WPH  62.356704   2.181230

[98 rows x 3 columns]

In [ ]:
#emadata50

In [ ]:
close_array['EMA'] = talib.EMA(close_array['Close'], timeperiod =50)

In [ ]:
close_array

In [ ]:
ema_data1 =close_array.iloc[-1,1]
ema_data1

In [ ]:
close_array['EMA'] = talib.EMA(close_array['Close'], timeperiod =200)
close_array

In [ ]:
ema_data2 =close_array.iloc[-1,1]
ema_data2

In [ ]:
#filter check rsi and ema

In [ ]:
#check close ema > close ema (timeperiod)

In [ ]:
if close_data>