In [1]:
import numpy as np#จัดการตัวเลขarray
import pandas as pd
import yfinance
from matplotlib import pyplot as plt
import talib
import pandas_datareader as web
import datetime

In [2]:
data=pd.read_csv('ss.csv')#เลือกหุ้น
set_rsi=58
x=data
x

       Name  rsi  Ema
0        2S  NaN  NaN
1    3K-BAT  NaN  NaN
2       7UP  NaN  NaN
3         A  NaN  NaN
4        A5  NaN  NaN
..      ...  ...  ...
748     YCI  NaN  NaN
749     YGG  NaN  NaN
750   YUASA  NaN  NaN
751     ZEN  NaN  NaN
752    ZIGA  NaN  NaN

[753 rows x 3 columns]

In [3]:
a=x.iloc[0:,1:2]
a

     rsi
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
..   ...
748  NaN
749  NaN
750  NaN
751  NaN
752  NaN

[753 rows x 1 columns]

In [4]:
b=0
stock_rsi=a.iloc[b,0]
stock_rsi

nan

In [5]:
i=0
e=0
while e <20:
 y=x.iloc[i,0]
 from datetime import datetime
 from datetime import timedelta
 now = datetime.today()
 duration= timedelta(days=300)
 start=now-duration
 s = yfinance.download(y+".BK",start,now)
 rsi = talib.RSI(s["Close"])
 print_rsi=rsi[-1]
 stock_rsi=print_rsi
 if stock_rsi>set_rsi:
   x.iloc[i,1:2]=stock_rsi
   i+=1
   e+=1
 else  : 
   x = x.drop(e,axis=0)
   x.reset_index(drop=True) # Reset index
   e+=1
print("finish")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
finish

In [31]:
x.to_csv('stock_prices_volumes.csv')

In [ ]:
#filter code

In [ ]:
#Ema

In [ ]:
c=0
d=x.iloc[0:,2:3]
d

In [ ]:
stock_ema=d.iloc[c,0] #first stock in ema
stock_ema

In [ ]:
end = datetime.today()
duration= timedelta(days=365)
start=now-duration
y

In [ ]:
df = web.DataReader(y+".BK", 'yahoo', start, end)
df

In [ ]:
close_array=df.iloc[0:,3:-2]
close_array

In [ ]:
#df.to_csv('stock_prices_volumes.csv')

In [ ]:
#close_array1=close_array.values.ravel()
#close_array1

In [ ]:
close_array['EMA'] = talib.EMA(close_array['Close'], timeperiod =20)

In [ ]:
close_array

In [ ]:
close_data = close_array.iloc[-1,0]
close_data

In [ ]:
ema_data0 =close_array.iloc[-1,1]
ema_data0

In [ ]:
#emadata50

In [ ]:
close_array['EMA'] = talib.EMA(close_array['Close'], timeperiod =50)

In [ ]:
close_array

In [ ]:
ema_data1 =close_array.iloc[-1,1]
ema_data1

In [ ]:
close_array['EMA'] = talib.EMA(close_array['Close'], timeperiod =200)
close_array

In [ ]:
ema_data2 =close_array.iloc[-1,1]
ema_data2

In [ ]:
#filter check rsi and ema

In [ ]:
#check close ema > close ema (timeperiod)

In [ ]:
if close_data>